.wrapper {
  width: 100%;
  height: 40px;

  padding: 0px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schoolItemText {
  display: flex;

  align-items: center;
}
