.wrapper {
  padding: 20px;
  width: 100%;
  height: 290px;
}

.questionInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.examInfoBlock {
  width: 100%;
  height: 174px;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
}

.examCourseAndTime {
  flex-grow: 1;
  // width: 628px;
  height: 100%;
  background-color: #ffffff;

  border-radius: 4px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  .line {
    width: content;
    height: 1px;
    background-color: #d0e8ef;
    margin: 0px 24px 0px 16px;
  }
}

.examCategory {
  margin-right: 20px;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.readyMadeTests {
  height: 512px;
}

.questionsCountText {
  font-family: "Poppins";

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #193046;
}
